<nav class="teal" style="Height:15%" >
    <div class="nav-wrapper">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSct0kj3db7iTm474EFpZ-avbb3K1OdA0rghIrOFjpjBVQ0eVzk" style="width: 10%; min-width: 5%" >
        <a href="" class="brand-logo">Plus Technologies & Innovations</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        </ul>
    </div>
</nav>
<p>
<h1>Serie de Taylor</h1>
<div><span>Precisión del número:</span><input [(ngModel)]="taylor.n"  placeholder="Ingrese un número"> </div>
<p>
<div><span>Número a calcular: </span><input [(ngModel)]="taylor.x"  placeholder="Ingrese un número"> </div>
<p>
<div><span>Resultado: </span>{{taylor.result}}</div>
<p>
<div class="row">
    <div class="input-field col s12">

    <div class="col s3">
        <div><span>Funciones Trigonométricas: </span></div>
        <p>
        <a class="waves-effect waves-light btn-small" (click)="seno()">Sin(x)</a>
        <p>
        <a class="waves-effect waves-light btn-small" (click)="coseno()">Cos(x)</a>
        <p>
        <a class="waves-effect waves-light btn-small" (click)="tangente()">Tan(x)</a>
        <p>
        <a class="waves-effect waves-light btn-small" (click)="secante()">Sec(x)</a>
        <p>
        <a class="waves-effect waves-light btn-small" (click)="cosecante()">Csc(x)</a>
        <p>
        <a class="waves-effect waves-light btn-small" (click)="arcsin()">Arcsin(x)</a>
        <p>
        <a class="waves-effect waves-light btn-small" (click)="arctan()">Arctan(x)</a>
        <p>
    </div>
    <div class="col s3">
        <div><span>Funciones Hiperbólicas: </span></div>
        <p>
        <a class="waves-effect waves-light btn-small" (click)="sinh()">Sinh(x)</a>
        <p>
        <a class="waves-effect waves-light btn-small" (click)="coshx()">Cosh(x)</a>
        <p>
        <a class="waves-effect waves-light btn-small" (click)="tanm()">Tanh(x)</a>
        <p>
        <a class="waves-effect waves-light btn-small" (click)="sinhin()">Sinh¯¹(x)</a>
        <p>
        <a class="waves-effect waves-light btn-small" (click)="tanhin()">Tanh¯¹(x)</a>
        <p>
    </div>
    <div class="col s3">
        <div><span>Función exponencial y logaritmo natural: </span></div>
        <p>
        <a class="waves-effect waves-light btn-small" (click)="e()">e^x</a>
        <p>
        <a class="waves-effect waves-light btn-small" (click)="lnyx()">ln(1+x)</a>
        <p>
        <a class="waves-effect waves-light btn-small" (click)="lnx()">ln(x)</a>
        <p>
    </div>
    <div class="col s3">
        <div><span>Función W de Lambert y Serie Geométrica: </span></div>
        <p>
        <a class="waves-effect waves-light btn-small" (click)="w()">W0(x)</a>
        <p>
        <a class="waves-effect waves-light btn-small" (click)="ax()">a/1-x</a>
        <p>
    </div>
</div>


<!--<div class="collection">
    <a href="#!" (click)="calcular()" class="collection-item"> <span>Sin x: </span>{{taylor.sumatoria}}</a>
    <a href="#!" class="collection-item">Alvin</a>
    <a href="#!" class="collection-item">Alvin</a>
    <a href="#!" class="collection-item">Alvin</a>
</div>-->
<!--<div><span>Sin x: </span>{{taylor.sumatoria}}</div>
<div><span>Cos x: </span>{{taylor.coseno}}</div>
<div><span>Tan x: </span>{{taylor.tangente}}</div>
<div><span>Sec x: </span>{{taylor.secante}}</div>
<div><span>Csc x: </span>{{taylor.cscx}}</div>
<div><span>Arcsin x: </span>{{taylor.arcsin}}</div>
<div><span>Arctan x: </span>{{taylor.arctan}}</div>
<div><span>Sinh x: </span>{{taylor.sinhx}}</div>
<div><span>Cosh x: </span>{{taylor.coshx}}</div>
<div><span>Tan -1 x: </span>{{taylor.tanim}}</div>-->
